<<<<<<< HEAD
=======
::ng-deep .mdc-dialog__container, ::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface {
    background: none !important;
  }

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
>>>>>>> e15b853 (Fixed connection API)

